body{
    background-image: url("img/lam-game-ran-san-moi-bang-javavscript-63725373434.9996.png");
}
div{
    margin-left: 700px;
    margin-top: 200px;
    width: 200px;
    height: 100px;
}
p{
    background: white;
}